#############
## Windows
#############

$RECYCLE.BIN/
*.cab
*.lnk
*.msi
*.msm
*.msp
Desktop.ini
ehthumbs.db
Thumbs.db

#############
## OSX
#############

Network Trash Folder
Temporary Items
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.LSOverride
.Spotlight-V100
.Trashes

#############
## Vagrant
#############

.vagrant/
/config.yaml
/build/mysql/imported-*

#############
## Temporary / Cache
#############

tmp/*
log*/*

#############
## PHPStorm
#############

.idea/

#############
## SASS
#############

.sass-cache/

#############
## OpenCart
#############

config.php
*/image/cache/*
*/image/catalog/*
!*/image/catalog/site/
*/system/storage/*

#############
## Magento
#############

*/app/etc/local.xml
*/media/
*/var/*

#############
## Apache
#############

*/.htaccess
!*/*/.htaccess

#############
## Git
#############

!.gitkeep