#############
## OS
#############

## Windows

$RECYCLE.BIN/
*.cab
*.lnk
*.msi
*.msm
*.msp
Desktop.ini
ehthumbs.db
Thumbs.db

## OS X

Network Trash Folder
Temporary Items
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.LSOverride
.Spotlight-V100
.Trashes

#############
## Vagrant
#############

.vagrant/
build/mysql/imported-*

#############
## Temporary / Cache
#############

backup/
cache/
tmp/*
log*/*
*.log

#############
## PHPStorm
#############

.idea/

#############
## SASS/Compass
#############

.sass-cache/

#############
## OpenCart
#############

config.php
public_html/image/cache/*
public_html/image/catalog/*
!public_html/image/catalog/site/
public_html/system/storage/*