#############
## OS
#############

## Windows

$RECYCLE.BIN/
*.cab
*.lnk
*.msi
*.msm
*.msp
Desktop.ini
ehthumbs.db
Thumbs.db

## OS X

Network Trash Folder
Temporary Items
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.LSOverride
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share

#############
## PHPStorm
#############

.idea/

#############
## Vagrant
#############

.vagrant/